<!-- <app-prova></app-prova> -->

<!-- <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>

<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title" />
</mat-form-field>
<p>{{title}}</p> -->


<!-- ngIf -->
<!-- <p *ngIf="isVisible">e visibile!</p>
<p *ngIf="!isVisible">non e visibile!</p> -->

<!-- <p *ngIf="isVisible; then bloccoIf else bloccoElse" ></p>
<ng-template #bloccoIf >
    <p>sono visibile</p>
</ng-template>
<ng-template #bloccoElse >
    <p>non sono visibile</p>
</ng-template> -->


<!-- ngFor -->
<!-- <div *ngFor="let persona of persone">
  <p class="cerchioVerde" *ngIf="persona.isOnline"></p>
  <p class="cerchioRosso" *ngIf="!persona.isOnline"></p>
  <p>{{ persona.nome }} - {{ persona.cognome }}</p>
</div> -->


<!-- ngSwitch -->
<!-- <div [ngSwitch]="numero">
    <p *ngSwitchCase="1">uno</p>
    <p *ngSwitchCase="2">due </p>
    <p *ngSwitchCase="3">tre</p>
    <p *ngSwitchCase="4">quattro</p>
    <p *ngSwitchDefault>default</p>
</div> -->

<!-- ngStyle -->
<!-- <ul>
    <li *ngFor="let persona of persone ">
        <div class="cerchio" [ngStyle]="{'background': persona.isOnline ? 'green' : 'red'}"></div>
        <p>{{ persona.nome }} {{ persona.cognome }}</p>
    </li>
</ul> -->


<app-prova [data]="persone"></app-prova>