.cerchioVerde {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
}

.cerchioRosso {
    width: 10px;
    height: 10px;
    background-color: rgb(244, 16, 16);
}

.cerchio {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 10px;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li > p {
    margin-bottom: 0;
}